{% extends 'layouts/base.html' %}

{% load static %}<!-- Reusa estilos del admin -->

{% block content %}
<link rel="stylesheet" href="{% static 'styles/main.css' %}">
<div class="global-container">
    <h1>Asistencia de Empleados PROMACO</h1>

    <form method="get">
        <select name="departamento" onchange="this.form.submit()">
            <option value="">Departamentos</option>
            {% for depto in departamentos %}
            <option value="{{ depto }}" {% if depto == departamento_seleccionado %}selected{% endif %}>
              {{ depto }}
            </option>
            {% endfor %}
        </select>

        <!-- <select name="sucursal">
            <option value="">Todas las sucursales</option>
            {% for s in sucursales %}
              <option value="{{ s.id }}" {% if s.id|stringformat:"s" == sucursal_seleccionada %}selected{% endif %}>{{ s.sucursal }}</option>
            {% endfor %}
          </select> -->

          <div class="acciones">
            <input type="date" id="fecha-sync" class="form-control" value="{{ hoy|date:'Y-m-d' }}" max="{{ hoy|date:'Y-m-d' }}">
            <button id="sync-btn">Sincronizar Marcajes</button>
            <span id="sync-status"></span>
            
      
            

          
    </div>
    </form>

     <!-- Contenedor para resultados -->
     

    <div class="table-container">
        <table class="tabla-asis" id="tabla-marcaje">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Código Empleado</th>
                    <th>Empleado</th>
                 
                    <th>Tipo de registro</th>
                    <th>Departamento</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.fecha_hora }}</td>
                    <td>{{ registro.empleado.sucursal}}</td>
                    <td>{{ registro.empleado.codigo }}</td>
                    <td>{{ registro.empleado.nombre }}</td>
                    
                  
                    <td>{{ registro.tipo_registro}}</td>
                    <td>{{ registro.empleado.departamento}}</td>
                </tr>
                
                {% endfor %}

                <!-- {% for e in empleados %}
                <tr>
                    <td></td>
                    <td>{{e.sucursal}}</td>
                    <td>{{e.codigo}}</td>
                    <td>{{e.nombre}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{e.departamento}}</td>
                </tr>
                {% endfor %} -->
            </tbody>
        </table>
    </div>
    
</div>

<script src="{% static 'scripts/sync_marc.js' %}"></script>

{% endblock %}