{% extends 'base.html'%}
{% block content %}

<div class="container mt5">


<h2>Solicitudes Pendientes</h2>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Encargado</th>
                    <th>Empleado</th>
                    <th>Tipo Permiso</th>
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Comprobante</th>
                    <th>Acciones</th>
                </thead>
            
                <tbody>
                    {%for p in permiso %}
                    <tr>
                        <td>{{p.Permiso.encargado}}</td>
                        <td>{{p.Permiso.empleado}}</td>
                        <td>{{p.Permiso.tipo_permiso.tipo}}</td>
                        <td>{{p.Permiso.fecha_inicio}}</td>
                        <td>{{p.Permiso.fecha_final}}</td>
                        <td>{{p.Permiso.descripcion}}</td>
                        <td>{{p.Permiso.estado_solicitud}}</td>
                        <td>{{p.comprobante}}</td>
                        <td>
                            <button class="bg-success">Si</button>
                            <button class="bg-danger">X</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            
            </table>
        </div>
    </div>
</div>
</div>

{%endblock%}