<!-- templates/subir_comprobantes.html -->
 {% extends 'base.html' %}

 {% block content %}
<h2>Solicitudes sin comprobante</h2>
<table class="table">
  <thead>
    <tr>
      <th>Encargado</th>
      <th>Empleado</th>
      <th>Fecha Incio</th>
      <th>Fecha Fin</th>
      <th>Motivo</th>
      <th>Subir comprobante</th>
    </tr>
  </thead>
  <tbody>
    {% for s in solicitud %}
      <tr>
        <td>{{s.encargado}}</td>
        <td>{{ s.empleado }}</td>
        <td>{{ s.fecha_inicio }}</td>
        <td>{{s.fecha_final}}</td>
        <td>{{ s.descripcion }}</td>
        <td>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="solicitud_id" value="{{ s.id }}">
            <input type="file" name="archivo" required>
            <button type="submit" class="btn btn-primary btn-sm">Subir</button>
          </form>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4">No hay solicitudes pendientes de comprobante.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%}